/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #d60202;
	margin: 0;
	display: grid;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #000000;
}
h2,
h3 {
	margin-top: 0;
}
a {
	color: #d60202; text-decoration: none;
}
img {
	max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
	margin-top: 5px;
}
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	font-size: .95em;
	color: #d60202;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #242424;
}

/* ---- Layout Containers ---- */

.main-header {
    padding-top: .5em;
	padding-bottom: 2em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	background: rgb(255, 231, 231);
	padding: .5em 0em;
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 9px 17px -6px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 9px 17px -6px rgba(0,0,0,0.65);
	box-shadow: 0px 9px 17px -6px rgba(0,0,0,0.65);
}
.col {
	padding-right: 2em;
	padding-left: 2em;
}
.main-footer {
	background: #eeecec;
	padding: 1em 0;
	margin-top: 30px;
}


/* ---- Page Elements ---- */

.logo {
	width: 150px;
	margin-top: 20px;
	margin-left: 20px;
	
}
.headline {
	font-size: 100px;
	margin-bottom: 0;
	text-decoration: none;
	color: #000000;
	text-shadow: 2px 2px #ffffff;
	}

.feat-img {
	border-radius: 5px;
}
.footer-image {
    width: 50px;
}

.tagline {
	font-size: 24px;
	color: #242424;
}


/* Was using a collapsed column to break to a new column fixed this with a row class*/

/* .break {
	flex-basis: 100%;
	width: 0;
} */

/* Form Fields -------------------- */

input,
textarea {
	font-size: 1em;
	color: #222;
	font-weight: 300; 
	width: 100%;
	border: none;
	height: auto;
	padding: 15px;
	outline: 0;
	margin-bottom: 1.2em;
	border-radius: .3em;
	border-bottom: 3px solid rgba(0,0,0, 0.05);
	background-color: #e8eeef;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
	display: block;
	margin-bottom: 0.5em; 
}

/* ================================= 
  Media Queries
==================================== */

/* @media (max-width 769px) {

	.main-header {
		align-items: center;
} */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row 
	.main-header {
		display: flex;
		flex-wrap: wrap;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.primary-col {
		flex: 1;
	}		
}